/*#square-bottom, #square-top
{
	position:absolute;
	left:0;
	right:0;
	top:30%;
}

#square-bottom
{
	width:100px;
	height:100px;
	background-color:darkred;
	z-index:1;
}

#square-top
{
	width:100px;
	height:100px;
	background-color:Pink;
	z-index:2;
}*/

.nav, #nav-icon, #check, #ico-image
{
	position:absolute;
	left:0;
	right:0;
	top:0;
	margin:0;
/*	top:30%;*/
}

#nav-icon
{
	width:30px;
	height:30px;
	background-color:#45aaf2;
	z-index:1;

}

#check
{
	width:30px;
	height:30px;
	z-index:2;
	opacity:0;
	cursor: pointer;

}

.menu{
	display:none;
}

#check:checked ~ .menu {
 display: block;
}

.menu {
 position: absolute;
 top: 30px;
 left: 0;
 background: #45aaf2;
 z-index: 1;
 width: 200px;
}

.menu a {
 color: #fff;
 padding: 1rem 1.5rem;
 display: block;
}

#ico-image
{
	font-family:Times New Roman;
	color:White;
	padding-left:2px;
	padding-right:2px;
	font-size:24px;
}
